{% extends "layout.html" %}
{% block content %}

<img src="static/images/bgImage.jpg" alt="Car" style="width:100%">

    <div class="w3-card-4 w3-margin">

        <header class="w3-container w3-blue">
          <h1>Introduction</h1>
        </header>

        <div class="w3-container">
          <p>
            Online examination, also known as e-examination, enables examiners to conduct exams using the internet or a company-wide intranet for remote candidates. It requires candidates to answer questions within a pre-decided timeframe. The test window collapses once the exam is over, and institutes get real-time reports. Evaluators then assess the answers and grade accordingly. The fully automated system supports objective evaluation and helps generate results faster than in a traditional exam format.

            Most online exams include answer processing modules, allowing evaluators to issue results moments after the candidates complete the test. However, evaluators assess the answers in-person for long-answer-type questions where results are not automated. The result of online exams is then conveyed to the candidates via email or published on the institute’s website.
          </p>

        </div>

        <footer class="w3-container w3-blue">
          <h5></h5>
        </footer>

        </div>

        <div class="w3-card-4 w3-margin">

            <!-- <header class="w3-container w3-blue">
              <h1>About The Project</h1>
            </header> -->

            <div class="w3-container">
              <!-- <p>
                Online examination, also known as e-examination, enables examiners to conduct exams using the internet or a company-wide intranet for remote candidates. It requires candidates to answer questions within a pre-decided timeframe. The test window collapses once the exam is over, and institutes get real-time reports. Evaluators then assess the answers and grade accordingly. The fully automated system supports objective evaluation and helps generate results faster than in a traditional exam format.

                Most online exams include answer processing modules, allowing evaluators to issue results moments after the candidates complete the test. However, evaluators assess the answers in-person for long-answer-type questions where results are not automated. The result of online exams is then conveyed to the candidates via email or published on the institute’s website.
              </p> -->
            </div>

            <!-- <footer class="w3-container w3-blue">
              <h5></h5>
            </footer>
             -->
            <!-- </div> -->

    <!-- <div class="w3-container w3-center">
        <h2>Architecture Diagram</h2>
        <img src="static/images/block.png" alt="car" style="width:100%">
        <p>Figure1</p>
      </div> -->

{% endblock %}
        </div>